{{ partial "widgets/search.html" . }}

<style>
    .weather-list {
      margin: 0 auto;
      overflow: hidden;
      background-color: #fff;
      font-weight: bold;
      font-size: 15px;
      color: #2c3334;
      padding-top: 10px;
    }
    .weather-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
    }
    .weather-item:nth-child(odd) {
      background-color: #cde4d2; 
    }
    .city-name {
      flex: 2;
      margin-left: 10px;
    }
    .temperature {
      flex: 1;
      text-align: center;
    }
    .weather-icon {
      flex: 1;
      text-align: center;
    }
    .weather-icon img {
      width: 30px;
      height: 30px;
    }
  </style>
  
  <div id="weatherList" class="weather-list"></div>
  <script>
    const cities = ["Vancouver", "Calgary", "Toronto", "Ottawa", "Montreal"];
    const cityMapping = {
      Vancouver: "溫哥華",
      Calgary: "卡加利",
      Toronto: "多倫多",
      Ottawa: "渥太華",
      Montreal: "蒙特婁",
    };
    const apiKey = "2f6736739fc824f25ae26fb32d917a79";
    const weatherList = document.getElementById("weatherList");
  
    async function fetchWeather(city) {
      const response = await fetch(
        `https://api.openweathermap.org/data/2.5/weather?q=${city}&appid=${apiKey}&units=metric&lang=zh_tw`
      );
      const data = await response.json();
      return data;
    }
  
    async function displayWeather() {
      for (const [city, chineseName] of Object.entries(cityMapping)) {
        try {
          const weather = await fetchWeather(city);
          const temperature = Math.round(weather.main.temp);
          const item = document.createElement("div");
          item.className = "weather-item";
          item.innerHTML = `
            <div class="city-name">${chineseName}</div>
            <div class="temperature">${temperature}°C</div>
            <div class="weather-icon">
              <img src="https://openweathermap.org/img/wn/${weather.weather[0].icon}@2x.png" alt="${weather.weather[0].description}">
            </div>
          `;
          weatherList.appendChild(item);
        } catch (error) {
          console.error(`無法獲取${chineseName}的天氣資料`, error);
        }
      }
    }
  
    // 執行主函式
    displayWeather();
  </script>
<br />

<!-- <div
  style="padding-bottom: 30px"
  id="ide946c17c3f163"
  a='{"t":"b","v":"1.2","lang":"en","locs":[737,732,3770,736,730,731],"ssot":"c","sics":"ds","cbkg":"rgba(205,228,210,1)","cfnt":"#000000","ceb":"#FFFFFF","cef":"#000000","slfs":16,"slmw":350}'
>
  <a href="https://sharpweather.com/widgets/" target="_blank"
    >Weather widget html for website by sharpweather.com</a
  >
</div>
<script
  async
  src="https://static1.sharpweather.com/widgetjs/?id=ide946c17c3f163"
></script> -->

<br />
<script
  src="https://cdn.commoninja.com/sdk/latest/commonninja.js"
  defer
></script>
<div
  class="commonninja_component pid-20f11492-9577-4bc8-b70e-a00f3d1c9be2"
></div>

